
.conteiner{
    max-width: 2400px;
    margin: 0 auto;
    width: 90%;
    background-color: aliceblue;
}
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');