$desk:1024px;
$table:900px;
$mobile:665px;


$white:#FFFFFF;
$grey:#999999;
$black:#000000;
$blue:#5373FD;
$brown: #333333;
$wheat :#f5deb3;
$blueBtn:#0b76ef;
$mainBrown:#2e1818e3;

$righteous: 'Righteous', cursive;
$Oswald: 'Oswald', sans-serif;